body{
    margin: 0;
    padding: 0;
    min-height: 990px;
    font-family:'Montserrat', sans-serif;
    background: #090909;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.container{
    text-align: center;
}
h2{
    margin: 10px 0;
}
h1{
    margin: 0;
    font-size: 170px;
    letter-spacing: 20px;
    background:url("../img/banner.jpg") center;
    background-size: contain;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
p{
    font-size: 20px;
}
a {
    display: inline-block;
    text-decoration: none;
    background-color: #ff2523;
    color: #ffffff;
    text-transform: uppercase;
    padding: 3% 6%;
    border-radius: 4%;
    font-size: 14px;
    transition: .3s ease;
}
a:hover{
    background-color: #ff8e5e;
    text-shadow: -5px 5px 20px -5px #010101;
     }
